body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    min-height: 100dvh;
}
ul {
    list-style: none;
    padding: 0;
}
#root {
    width: 100%;
    height: 100%;
}
.container {
    padding: 20px 0;
    height: 100%;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.mess_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}